<div class="block block--secondary">
  <p class="container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam itaque
    natus reiciendis, nihil velit suscipit doloremque similique et sint nam
    tempore dignissimos eveniet modi, sapiente, omnis odit quo sequi ab quasi
    illum. Debitis distinctio praesentium laudantium vero aperiam maxime nihil
    sapiente ab neque, iste ad reiciendis necessitatibus, cupiditate numquam,
    optio soluta tempora. Earum atque perspiciatis assumenda, dolorem reiciendis
    similique accusamus fugiat velit vero quae consectetur enim voluptatum illum
    consequatur provident quidem saepe rerum ab minus nihil. Veniam praesentium
    eos ipsum labore, at facilis voluptatum odio nulla sunt corrupti earum qui
    iste cum soluta eveniet ea numquam error eius quidem. Quia.
  </p>
</div>
