<section class="block">
  <div class="container card grid grid--1x2">
    <div>
      <p class="discover">DISCOVER</p>
      <p class="events">UPCOMING EVENTS</p>
      <p class="callout__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
        quisquam quis iusto reiciendis hic expedita enim voluptatem voluptatibus
        facilis sed unde fugiat laboriosam quasi, reprehenderit iure sequi
        repellat. Repudiandae, aliquid aperiam! Quos debitis neque alias atque
        voluptate necessitatibus ad aspernatur.
      </p>
    </div>
    <img class="callout__image" src="/images/bg__eight.jpeg" alt="" />
  </div>
</section>
