<section class="block last-block">
  <div class="container grid grid--1x2 footer-content">
    <div class="copy">awel &copy; 2022 copyright</div>
    <div class="follow-us">
      <div class="footer__icon-container">
        <img class="footer__icon" src="/images/instagram.jpeg" alt="" />
      </div>
      <div class="footer__icon-container">
        <img class="footer__icon" src="/images/book.png" alt="" />
      </div>
      <div class="footer__icon-container">
        <img class="footer__icon" src="/images/twitter.png" alt="" />
      </div>
      <div class="footer__icon-container">
        <img class="footer__icon" src="/images/sap.png" alt="" />
      </div>
    </div>
  </div>
</section>
