<section class="block">
  <div class="container grid grid--1x2">
    <div class="grid grid--1x2 form__inputs">
      <input class="input" type="text" placeholder="name" />
      <input class="input" type="date" placeholder="date" />
      <input class="input" type="number" placeholder="people" />
    </div>
    <div class="form__inputs">
      <input class="input" type="email" placeholder="email" />
      <input class="input" type="time" placeholder="time" />
      <div class="btn btn-stretched">
        <a href="#">find a table</a>
      </div>
    </div>
  </div>
</section>
