<section class="block block--secondary intro">
  <div class="container grid grid--1x2 intro-section">
    <div class="introduction">
      <p class="opening">its a good time for the great taste of burgers</p>
      <h1>burger</h1>
      <h2>week</h2>
    </div>
    <div class="image-section">
      <img
        class="intro__image"
        src="/images/acel.webp"
        alt="burger with a cold drink"
      />
      <div class="badge-container sale-badge">
        <div class="badge">
          <span class="price">$5</span><span class="point">.49</span>
          <p class="only">ONLY</p>
        </div>
      </div>
    </div>
  </div>
</section>
