<section class="block block--secondary">
  <div class="container top-line">
    <div class="logo">
      <img
        src="/images/icon.webp"
        alt="burger icon"
        class="icon burger__icon"
      />
      <h3 class="icon__heading">BURGER HOUSE</h3>
    </div>

    <div class="delivery">
      <img
        src="/images/new-delivery-icon.webp"
        alt=""
        class="icon delivery__icon"
      />
      <p class="delivery__number">+256-774159449</p>
    </div>
  </div>
</section>
