:root{
    --color-accent: #bf2222;
    --color-body: #717171;
    --color-heading: #3d2514;
    --color-primary: #ffc567;
    --color-secondary: #ffc045;
}

*, 
*::after, 
*::before{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/* Typography */

body{
    font-family: Montserrat, system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.2rem;
    color: var(--color-body);
    line-height: 1.5;
}

 h1,
 h2, 
 h3{
    font-family: "Alfa Slab One", system-ui,-apple-system, 
    BlinkMacSystemFont,'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color-heading);
    line-height: 0.5;
    margin-bottom: 1rem;
}

h3{
    font-family: 'Bebas Neue', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

p{
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body{
        font-size: 1.6rem;
    }

    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 3rem;
    }

    h3{
        font-size: 2rem;
    }
}


/* icon */
.icon{
    width: 50px;
}


/* loggo */
.logo{
    display: flex;
}

.icon__heading{
    font-size: 3rem;
    margin-top: 2rem;
}

.burger__icon{
    margin-right: 8px;
    background: var(--color-secondary);
    width: 50px;
    height: 50px;
}

/* delivery */

.delivery{
    display: flex;
}

.delivery__icon{
    margin-right: 5px;
    width: 40px;
    height: 40px;
    margin-top: 7px;
}

.delivery__number{
    color: var(--color-heading);
    margin-top: 10px;
    font-family: 'Bebas Neue';
    margin-right: 10px;
    margin-bottom: 0;
}

@media screen and (max-width: 380px) {
    .icon__heading{
        font-size: 2rem;
        line-height: 1.1;
    }
}

/* list */

.list{
    list-style: none;
    padding-left: 0;
    display: grid;
}

.list__item{
    text-decoration: none;
}

.list a{
    text-decoration: none;
    color: var(--color-heading);
    font-weight: bold;
    font-family: 'Bebas Neue', system-ui, -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5rem;
}

@media screen and (min-width: 768px) {
    .list a {
        font-size: 2rem;
    }
}

.list__inline{
    grid-template-columns: repeat(3, 1fr);
}

/* grid */

.grid{
    display: grid;
}

.grid--2x1{
    grid-template-rows: repeat(2, 1fr);
}

@media screen and (min-width: 768px) {
    .grid--1x2{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .grid-1x3{
        grid-template-columns: repeat(3, 1fr);
    }
}

 /* badge */

 .badge-container{
    background: var(--color-accent);
    border-radius: 100%;
    height: 100px;
    padding-left: 7px;
    padding-top: 7px;
    width: 100px;
 }

 .badge{
    font-family: 'Bebas Neue', system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    border: 3px dotted white;
    width: 85px;
    height: 85px;
    border-radius: 100%;
    text-align: center;
    color: white;
 }

 .point{
    font-size: 15px;
 }

 .price{
    font-size: 40px;
 }

 .only{
    letter-spacing: 5px;
    margin-top: -18px;
 }

 /* tagline */

 .tagline{
    background: var(--color-secondary);
    color: var(--color-heading);
    font-family: 'Bebas Neue';
    margin-bottom: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    width: fit-content;
 }

 /* buttons */
 .btn{
    background: var(--color-accent);
    width: fit-content;
    padding: 1rem 2rem;
 }

 .btn-stretched{
    width: 100%;
 }

 .btn a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Alfa Slab One';
    white-space: nowrap;
 }

 /* showcase*/

 .showcase{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 350px;
    min-width: 300px;
 }

 .showcase__image{
    width: 100%;
 }

 .showcase__heading{
    white-space: nowrap;
 }

 .showcase__content{
    text-align: center;
 }


 /* card */
 .card{
    box-shadow: 10px 10px 30px 10px rgb(241, 240, 240);
    padding: 0.5rem 1rem;
 }


 /* input */
 
 ::placeholder{
    font-family: 'Bebas Neue';
    opacity: 0.3;
 }

 .input{
    border-radius: 7px;
    border: 1px solid #ccc;
    outline: 0;
    padding: 1rem 2rem;
 }

 .input:focus{
    border: 3px solid skyblue;
 }

 /* tags */
 .tag{
    display: flex;
 }

 .tag__text{
    font-family: 'Bebas Neue';
    margin-top: 15px;
 }

 .tag__icon{
    margin-right: 15px;
    width: 50px;
 }

 /* footer icons */

 .footer__icon-container{
    background: #fff;
    border-radius: 100%;
    height: 40px;
    width: 40px;
 }

 .footer__icon{
    padding-left: 10px;
    padding-top: 10px;
    width: 30px;
 }

 /* blocks */

 .block{
    width: 100%;
 }

 .block--secondary{
    background: var(--color-secondary);
 }

 .container{
    margin: 0 auto;
    max-width: 1140px;
 }

 /* collapsibles */

.collapsible__header{
   display: flex;
   justify-content: space-between;
}

.collapsible__chevron{
   width: 30px;
   transform: rotate(-90deg);
   transition: transform 0.3s;
}

.collapsible__content{
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.3s;
}

.collapsible--expanded .collapsible__chevron{
   transform: rotate(0);
}

.collapsible--expanded .collapsible__content{
   max-height: 100vh;
}

/* top section */

.top-line{
    display: flex;
    justify-content: space-between;
}

/*menu block*/

.menu{
    text-align: end;
}

.menu .list{
    text-align: center;
    padding: 0 4rem;
}

.menu .list__item{
    border-bottom: 1px solid var(--color-heading);
    margin-bottom: 2rem;
}

/* nav block*/

.nav{
    text-align: end;
    margin: 0;
}

/* introduction */

.introduction{
    text-transform: uppercase;
    align-self: center;
}

.opening{
    font-family: 'Bebas Neue', system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color-heading);
    border: 2px dashed var(--color-heading);
    width: fit-content;
    padding: 0.2rem 0.5rem;
}

.intro__image{
    width: 100%;
    align-self: center;
}

.image-section{
    position: relative;
}

.sale-badge{
    position: absolute;
    top: 170px;
}

.intro{
    padding: 4rem 0;
}

/* advert block */
.advert{
    margin-bottom: 3rem;
    margin-top: 3rem;
}


.popular-burger{
    border-radius: 5px;
    height: 32.2rem;
    object-fit: cover;
    width: 100%;
}

.more-fun{
    border-radius: 5px;
    height: 15rem;
    object-fit: cover;
    width: 100%;
}

.fresh-chili{
    border-radius: 5px;
    height: 15rem;
    object-fit: cover;
    width: 100%;
}

.advert img{
    margin-bottom: 1.2rem;
}

.popular{
    position: relative;
}

.txt{
    text-transform: uppercase;
    font-family: 'Bebas Neue', system-ui, -apple-system, BlinkMacSystemFont,'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     line-height: 0.2;
    color: white;
    position: absolute;
    top: 20px;
    left: 10px;
}

.try-it-today{
    opacity: 0.6;
}

@media screen and (min-width: 768px){
    .popular-burger{
        width: 95%;
    }
}

/* callout*/
.callout{
    text-align: center;
}

.callout__heading{
    text-transform: uppercase;
}

.callout .tagline{
    margin: 0 auto;
}

/* callout block */

.callout__image{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.discover{
    font-family: 'Bebas Neue', 
     'Alfa Slab One' , system-ui, -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    margin-bottom: -10px;
}

.events{
    font-family: 'Alfa Slab One' , system-ui, -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    color: var(--color-heading);
    font-size: 3rem;
    margin-bottom: 5px;
}

.callout__text{
    padding-right: 3rem;
}